{erl_opts, [debug_info]}.
{deps, [
    {restc, {git, "https://github.com/kivra/restclient", {tag, "0.9.10"}}},
    {gun, {git, "https://github.com/ninenines/gun", {tag, "2.1.0"}}}
]}.
{project_plugins, [
    {erlfmt, "v1.5.0"},
    {rebar3_lint, "3.2.6"}
]}.
{shell, [
    %% {config, "config/sys.config"},
    {apps, [focus]}
]}.
